<%- include('../partials/header') %>
<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow" style="min-width: 400px; max-width: 500px">
    <div class="card-body">
      <h2 class="card-title text-center mb-4 text-primary">Account Details</h2>
      <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item"><strong>ID:</strong> <%= user._id %></li>
        <li class="list-group-item">
          <strong>Name:</strong> <%= user.fullname %>
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> <%= user.email %>
        </li>
        <li class="list-group-item"><strong>Role:</strong> <%= user.role %></li>
        <li class="list-group-item">
          <strong>Phone:</strong> <%= user.phonenumber %>
        </li>
        <!-- <li class="list-group-item"><strong>Address:</strong> <%= user.address %></li> -->
        <li class="list-group-item">
          <strong>Created At:</strong> <%= user.createdAt %>
        </li>
        <li class="list-group-item">
          <strong>Updated At:</strong> <%= user.updatedAt %>
        </li>
      </ul>
      <div class="text-center">
        <a href="/admin/accounts" class="btn btn-outline-primary"
          >Back to Account List</a
        >
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
