<%- include('../partials/header') %>
<h1>Admin Dashboard</h1>
<table>
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Tour</th>
      <th>User</th>
      <th>Status</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% bookings.forEach(function(booking) { %>
    <tr>
      <td><%= booking._id %></td>
      <td><%= booking.tourId ? booking.tourId.name : 'N/A' %></td>
      <td><%= booking.userId ? booking.userId : 'N/A' %></td>
      <td><%= booking.status %></td>
      <td><%= booking.createdAt %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<%- include('../partials/footer') %>
